
.auth-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1492684223066-81342ee5ff30")
    center/cover no-repeat;
}

.auth-card {
  width: 420px;
  padding: 35px;
  border-radius: 18px;

  
  background: rgba(255, 255, 255, 0.88);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.25);
}


.auth-card h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 25px;
  color: #1f2937;
}

.auth-card .form-control {
  height: 48px;
  border-radius: 10px;
}


.auth-card .btn-primary {
  height: 48px;
  border-radius: 10px;
  font-weight: 600;
}


.auth-card a {
  display: block;
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
}
